#main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 30px 100px;
}

#content {
	position: relative;
	width: 100%;
	max-width: 800px;
}

h1 {
	margin: 0px;
	font-size: 30px;
	text-align: center;
}

#morse-button {
	margin: 10px auto;
	height: 100px;
	width: 100px;
	border-radius: 30px;
	background-color: var(--grey-green-color);
}