h1 {
	margin: 0px;
	line-height: 50px;
	font-size: 70px;
}

h2 {
	margin: 10px 0px 0px;
	line-height: 40px;
	font-size: 30px;
}

h3 {
	margin: 0px;
	padding-top: 10px;
	line-height: 40px;
	font-size: 20px;
}

p {
	margin: 0px;
	line-height: 30px;
	font-size: 15px;
}

button {
	padding: 0px;
	margin: 20px 40px 0px;
	width: 200px;
	height: 60px;
	max-width: 256px;
	max-height: 90px;
	background-color: var(--grey-green-color);
	border-radius: 0px;
	border: 0px;
	font-size: 20px;
	border-radius: 10px;
}

hr {
	margin: 10px auto;
	max-width: 640px;
	border: 1px solid var(--main-text-color);
}

#main {
	margin: 40px;
	text-align: center;
	align-items: center;
}

@media screen and (max-width:480px) {
	h1 {
		font-size: 45px;
		line-height: 50px;
	}

	h2 {
		margin: 0px;
		font-size: 25px;
	}

	h3 {
		font-size: 16px;
		line-height: 22px;
	}

	p {
		line-height: 20px;
		font-size: 14px;
	}

	button {
		font-size: 15px;
		line-height: 30px;
		width: 160px;
		height: 40px;
		margin: 20px 20px 0px;
	}

	hr {
		margin: 4px;
	}

	#main {
		margin: 20px;
	}
}