@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	/* fonts */
	--main-font: '游明朝', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', serif;
	--code-font: 'Ubuntu mono', monospace;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* main */
		--main-color: #709170;
		--main-light-color: #565;
		--main-dark-color: #41c641;
		--main-bg-color: #383732;
		/* grey */
		--grey-e5-color: #666;
		--grey-d-color: #555;
		--grey-c-color: #444;
		--grey-a-color: #333;
		--grey-5-color: #aaa;
		/* green */
		--grey-green-color: #454;
		--light-green-color: #afd8af;
		--leaf-green-color: #587a4c;
		--dark-green-color: #3f4e3f;
		/* any color */
		--black-color: #ffffff;
		--white-color: #000000;
		--red-color: #b20024;
		--pink-color: #b3000d;
		--pastel-pink-color: #ff7d79;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		/* main */
		--main-color: #709170;
		--main-light-color: #b2e9b2;
		--main-dark-color: #007e00;
		--main-bg-color: #f8f7f2;
		/* grey */
		--grey-e5-color: #e5e5e5;
		--grey-d-color: #ddd;
		--grey-c-color: #ccc;
		--grey-a-color: #aaa;
		--grey-5-color: #555;
		/* green */
		--grey-green-color: #cdc;
		--light-green-color: #afd8af;
		--leaf-green-color: #89b76c;
		--dark-green-color: #3f4e3f;
		/* any color */
		--black-color: #000000;
		--white-color: #ffffff;
		--red-color: #ff0000;
		--pink-color: #ff86c2;
		--pastel-pink-color: #f6bdc0;
	}
}

::selection {
	background-color: var(--leaf-green-color);
	color: var(--blak-color);
}

body {
	margin: 0px;
	font-family: var(--main-font);
	font-size: 0px;
	background-color: var(--main-bg-color);
	scrollbar-color: var(--leaf-green-color) var(--white-color);
}

#homebar {
	background-color: var(--main-light-color);
	width: 100%;
	height: min(90px, 15vw);
	text-align: center;
	user-select: none;

	a {
		margin: 0px;
		font-size: min(50px, 10vw);
		color: var(--black-color);
		text-decoration: none;
		line-height: min(90px, 15vw);
	}
}

noscript {
	background-color: var(--grey-green-color);
	position: fixed;
	display: flex;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: var(--black-color);
	z-index: 1001;
}

button,
input,
textarea {
	font-family: inherit;
}