body {
	margin: 0px;
	font-family: var(--main-font);
	font-size: 0px;
	background-color: var(--main-bg-color);
	user-select: none;
}

#fadein {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -100vh;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: var(--main-color);
	animation: fadein 1s 1.5s forwards;
}

#link {
	opacity: 0;
	position: absolute;
	color: var(--white-color);
	text-decoration: none;
	font-size: 30px;
	animation: op 1s 3s forwards;
}

#main {
	margin: 80px 100px;
	text-align: center;
	border: 5px dashed var(--main-color);
	border-radius: 10vh;
	animation: blur 1s;
}

h1 {
	color: var(--main-color);
	text-shadow: 5px 5px var(--leaf-green-color);
	font-size: 100px;
	line-height: 0;
	margin: calc(50vh - 85px) 0px;
}

@keyframes blur {
	from {
		filter: blur(100px);
	}

	to {
		filter: blur(0px);
	}
}

@keyframes fadein {
	from {
		top: -100vh;
	}

	to {
		top: 0;
	}
}

@keyframes op {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}