* {
	margin: 0px;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: var(--main-font);
	background-color: var(--main-bg-color);
	user-select: none;
}

#main {
	display: block;
	padding: 80px 100px;
	height: 100vh;
	width: 100vw;
}

#box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	border: 5px dashed var(--main-color);
	border-radius: 50px;
}

h1 {
	color: var(--main-color);
	text-shadow: 5px 5px var(--leaf-green-color);
	font-size: 100px;
	white-space: pre;
}

@media screen and (max-width: 750px) {
	#main {
		padding: 40px 20px;
	}

	#box {
		border-width: 3px;
	}

	h1 {
		font-size: 50px;
		text-shadow: 3px 3px var(--leaf-green-color);
	}
}
