::selection {
    background-color: #007e00;
    color: #fff;
}
body {
    margin: 0px;
    font-family: '游明朝','Yu Mincho','YuMincho','Hiragino Mincho Pro',serif;
    font-size: 0px;
    background-color: #f8f7f2;
}
h1 {
    margin: 30px 0px;
    line-height: 50px;
    color: #000000;
    font-size: 45px;
    text-align: left;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover,a:active {
    color: #709170;
}
ul {
    margin: 10px 30px;
    line-height: 40px;
    color: #000000;
    font-size: 25px;
    text-align: left;
}
#main {
    margin: 50px;
}
#homebar {
    background-color: #B2E9B2;
    width: 100%;
    height: min(90px,15vw);
    text-align: center;
    a {
        margin: 0px;
        font-size: min(50px,10vw);
        color: #000000;
        text-decoration: none;
        line-height: min(90px,15vw);
    }
}