:root {
	--dialog-main-color: #89b76c;
	--dialog-bg-color: #f8f7f2;
	--dialog-title-color: #ffffff;
	--dialog-text-color: #000000;
	--dialog-font: '游明朝', 'Yu Mincho', 'YuMincho', 'Hiragino Mincho Pro', serif;
	--dialog-font-size: 22px;
}

#dialog {
	all: initial;
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1001;
}

#dialog #dialog-content {
	all: unset;
	max-height: 80vh;
	max-width: 70vw;
	min-width: 300px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	background-color: var(--dialog-bg-color);
	overflow: auto;
	overflow-wrap: break-word;
	scrollbar-width: none;
	font-family: var(--dialog-font);
}

#dialog #dialog-title {
	all: unset;
	display: block;
	margin: 0px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	color: var(--dialog-title-color);
	text-align: center;
	border-radius: 20px 20px 0px 0px;
	background-color: var(--dialog-main-color);
}

#dialog #dialog-text {
	all: unset;
	display: block;
	margin: 10px 0px 0px;
	padding: 5px 30px;
	max-height: calc(80vh - 135px);
	font-size: var(--dialog-font-size);
	overflow: auto;
	scrollbar-color: var(--dialog-main-color) var(--dialog-bg-color);
	color: var(--dialog-text-color);
}

#dialog #dialog-reply-button {
	margin: 10px 10px;
	overflow: auto;
}

#dialog #dialog-reply-button .dialog-button {
	all: unset;
	display: inline;
	white-space: nowrap;
	inline-size: max-content;
	margin: 0px 20px;
	padding: 0px 15px;
	height: 45px;
	min-width: 100px;
	border: none;
	border-radius: 7px;
	font-size: var(--dialog-font-size);
	line-height: 45px;
	color: var(--dialog-title-color);
	background-color: var(--dialog-main-color);
}

@media screen and (max-width:480px) {
	:root {
		--dialog-font-size: 16px;
	}

	#dialog #dialog-title {
		height: 40px;
		font-size: 20px;
		line-height: 40px;
	}

	#dialog #dialog-text {
		line-height: 20px;
	}

	#dialog #dialog-reply-button .dialog-button {
		height: 30px;
		line-height: 30px;
	}
}