:root {
	--structure-title: #709170;
	--structure-title-text: #ffffff;
	--structure-border: #709170;
	--structure-input: #ffffff;
	--structure-input-text: #000000;
	--structure-input-true: #89b76c;
	--structure-nest-border: #888888;
	--structure-invalid: #ff0000;
	--structure-border-radius: 3px;
	--structure-font: Arial, Helvetica, sans-serif;
}

.structure {
	font-family: var(--structure-font);
	padding: 7px 13px;
}

.structure .structure-field {
	display: flex;
	margin: 6px 0px;
	align-items: center;
}

.structure .structure-field.structure-toggle:has(.structure-nest),
.structure .structure-field.structure-object,
.structure .structure-field.structure-list,
.structure .structure-field.structure-select,
.structure .structure-field.structure-reference {
	display: block;
}

.structure .structure-field.structure-toggle>.structure-field.structure-toggle {
	margin: 0px;
}

.structure .structure-title {
	display: inline-block;
	padding: 0px 13px;
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	color: var(--structure-title-text);
	background: var(--structure-title);
	border-radius: var(--structure-border-radius) 0px 0px var(--structure-border-radius);
	user-select: none;
	vertical-align: top;
}

.structure .structure-title.structure-reference,
.structure .structure-title.structure-object,
.structure .structure-add-btn.structure-add-end {
	border-radius: var(--structure-border-radius);
}

.structure .structure-string.structure-input,
.structure .structure-number.structure-input,
.structure .structure-select.structure-input {
	padding: 0px 5px;
	height: 35px;
	box-sizing: border-box;
	font-size: 18px;
	color: var(--structure-input-text);
	font-family: var(--structure-font);
	background-color: var(--structure-input);
	border: 1px solid var(--structure-border);
	border-radius: 0px var(--structure-border-radius) var(--structure-border-radius) 0px;
	outline: none;
}

.structure .structure-checkbox {
	display: none;
}

.structure .structure-true-btn,
.structure .structure-false-btn {
	display: inline-block;
	padding: 0px 5px;
	height: 35px;
	width: 70px;
	font-size: 18px;
	line-height: 35px;
	color: var(--structure-input-text);
	background-color: var(--structure-input);
	border: 1px solid var(--structure-border);
	box-sizing: border-box;
	text-align: center;
	user-select: none;
}

.structure .structure-false-btn {
	border-left: none;
	border-radius: 0px var(--structure-border-radius) var(--structure-border-radius) 0px;
}

.structure .structure-input:has(.structure-checkbox:checked)>.structure-true-btn,
.structure .structure-input:not(:has(.structure-checkbox:checked))>.structure-false-btn {
	color: var(--structure-title-text);
	background-color: var(--structure-input-true);
}

.structure .structure-true-btn::before {
	content: "True";
}

.structure .structure-false-btn::before {
	content: "Flase";
}

.structure .structure-toggle-btn,
.structure .structure-select-btn,
.structure .structure-remove-btn,
.structure .structure-add-btn {
	display: inline-block;
	height: 35px;
	width: 35px;
	font-size: 30px;
	box-sizing: border-box;
	text-align: center;
	user-select: none;
}

.structure .structure-toggle-btn,
.structure .structure-select-btn,
.structure .structure-add-btn {
	line-height: 35px;
	color: var(--structure-title);
	background-color: var(--structure-input);
	border: 1px solid var(--structure-border);
	border-radius: 0px var(--structure-border-radius) var(--structure-border-radius) 0px;
}

.structure .structure-field.structure-toggle:not(:has(.structure-checkbox:checked))>.structure-toggle-btn::before,
.structure .structure-field.structure-select:not(:has(.structure-checkbox:checked))>.structure-select-btn::before,
.structure .structure-add-btn::before {
	content: "+";
}

.structure .structure-field.structure-toggle:has(.structure-checkbox:checked)>.structure-toggle-btn::before,
.structure .structure-field.structure-select:has(.structure-checkbox:checked)>.structure-select-btn::before,
.structure .structure-remove-btn::before {
	content: "-";
}

.structure .structure-field.structure-toggle:has(.structure-checkbox:checked):not(:has(.structure-nest))>.structure-toggle-btn {
	width: 34px;
	border-radius: 0px;
	border-right: none;
}

.structure .structure-list.structure-nest:not(:has(*))+.structure-add-end {
	display: none;
}

.structure .structure-option {
	background-color: var(--structure-input);
}

.structure .structure-nest {
	padding-left: 25px;
	border-left: 1px solid var(--structure-nest-border);
}

.structure .structure-invalid {
	border-color: var(--structure-invalid) !important;
}