* {
	box-sizing: border-box;
}

#main {
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 30px 30px 100px;
	justify-content: center;
	font-family: var(--gothic-font);
}

#icon {
	display: block;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 3px solid var(--grey-a-color);
}

#name {
	margin: 0px;
	font-size: 30px;
}

#social {
	padding: 10px;
	width: 300px;
}

#social a {
	position: relative;
	display: flex;
	align-items: center;
	gap: 7px;
	height: 45px;
	width: 100%;
	font-size: 20px;
	line-height: 45px;
	text-decoration: none;
}

#social a::before {
	content: '';
	position: absolute;
	top: 40px;
	height: 2.5px;
	width: 0px;
	background-color: var(--main-text-color);
	opacity: 0.5;
	border-radius: 3px;
	transition: all 0.2s;
}

#social a:hover::before {
	width: 150px;
	transition: all 0.5s;
}

#social svg {
	top: 50%;
	height: 30px;
	width: 30px;
}

@media screen and (max-width: 630px) {
	#main {
		flex-flow: column;
		padding: 20px 20px 40px;
	}
}

@media screen and (max-width: 430px) {
	#icon {
		height: 160px;
		width: 160px;
	}

	#name {
		font-size: 20px;
	}

	#social {
		width: 230px;
	}

	#social a {
		font-size: 17px;
		height: 35px;
	}

	#social svg {
		height: 23px;
		width: 23px;
	}
}
