#main {
	margin: 50px;
}

h1 {
	margin: 30px 0px;
	line-height: 50px;
	color: var(--black-color);
	font-size: 50px;
}

a {
	color: var(--main-dark-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline .5px;
	text-underline-offset: 5px;
}

p {
	margin: 0px 40px;
	line-height: 50px;
	color: var(--black-color);
	font-size: 25px;
}

hr {
	margin: 20px 0px;
}

@media screen and (max-width:480px) {
	#main {
		margin: 20px;
	}

	h1 {
		font-size: 30px;
		line-height: 30px;
		margin: 0px 0px 10px;
	}

	p {
		font-size: 20px;
		line-height: 25px;
		margin: 0px 10px;
	}

	hr {
		margin: 10px;
	}
}