#setting {
	padding: 15px;
	user-select: none;
}

p {
	margin: 10px 0px 0px;
	font-size: 17px;
	line-height: 21px;
}

label {
	padding: 3px 0px;
	font-size: 17px;
	display: flex;
	justify-items: center;
}

#setting>label {
	padding: 10px 0px;
}

span {
	line-height: 21px;
}

span.reco::after {
	content: "(推奨)";
	color: var(--grey-5-color);
	font-size: 10px;
}

input[type="checkbox"] {
	vertical-align: text-top;
	position: relative;
	margin: 0px 10px;
	height: 18px;
	width: 18px;
}


input[type="checkbox"]::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 18px;
	width: 18px;
	background-color: var(--white-color);
	border-radius: 2px;
	border: 1px solid var(--black-color);
}

input[type="checkbox"]:checked::after {
	content: '';
	position: absolute;
	top: 1px;
	left: 6.5px;
	transform: rotate(50deg);
	height: 12px;
	width: 5px;
	border-right: 1.5px solid var(--black-color);
	border-bottom: 1.5px solid var(--black-color);
}

fieldset {
	border: none;
	margin: 10px 0px;
}

input[type="radio"] {
	position: relative;
}

input[type="radio"]::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	height: 16px;
	width: 16px;
	border-radius: 16px;
	border: .5px solid var(--grey-5-color);
	background-color: var(--white-color);
	transform: translate(-50%, -50%);
}

input[type="radio"]::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	height: 8px;
	width: 8px;
	border-radius: 10px;
	border: .5px solid var(--grey-d-color);
	background-color: var(--grey-d-color);
	transform: translate(-50%, -50%);
	transition: all 0.2s;
}

input[type="radio"]:checked::before {
	border: .5px solid var(--main-dark-color);
}

input[type="radio"]:checked::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	border: .5px solid var(--main-color);
	background-color: var(--main-color);
	transform: translate(-50%, -50%);
	transition: all 0.2s;
}

select {
	margin: 0px 10px;
	padding: 0px 3px;
	font-size: 17px;
	font-family: inherit;
	line-height: 21px;
	height: 21px;
	width: 100px;
	background-color: var(--white-color);
	border-radius: 2px;
	border: 1px solid var(--black-color);
}

button {
	display: block;
	margin: 10px 0px;
	padding: 0px 20px;
	font-size: 17px;
	background-color: var(--light-green-color);
	border: none;
	border-radius: 3px;
}

hr {
	margin: 5px;
}

.center {
	margin: 10px auto;
}