#dialog,
#setting-popup {
	--dialog-main-color: var(--light-green-color);
	--dialog-bg-color: var(--main-bg-color);
	--dialog-title-color: var(--main-text-color);
	--dialog-text-color: var(--main-text-color);
	--dialog-font: var(--main-font);
	--dialog-font-size: 17px;
}

.structure {
	--structure-title: var(--grey-e5-color);
	--structure-title-text: var(--black-color);
	--structure-border: var(--grey-a-color);
	--structure-input: var(--light-side-color);
	--structure-input-text: var(--black-color);
	--structure-input-true: var(--grey-e5-color);
	--structure-add: var(--black-color);
	--structure-nest-border: var(--grey-a-color);
	--structure-invalid: var(--red-color);
	--structure-border-radius: 3px;
	--structure-font: var(--main-font);
	--structure-font-size: 14px;
	--structure-nest-size: 20px;
}

#main {
	padding: 30px;
	text-align: center;
	color: var(--main-text-color);
	justify-content: center;
}

h1 {
	margin: 0px;
	font-size: 30px;
}

/* how-to-play */
#how-to-play {
	display: flex;
	justify-content: center;
	gap: 15px;
	height: 57px;
}

#how-to-play div {
	position: relative;
	height: 40px;
	width: 40px;
	font-size: 20px;
	line-height: 40px;
	background-color: var(--grey-green-color);
	border-radius: 13px;
	cursor: pointer;
}

#how-to-play div span {
	position: absolute;
	bottom: -16px;
	left: 50%;
	height: 15px;
	width: 60px;
	font-size: 11px;
	line-height: 15px;
	background-color: var(--grey-e5-color);
	border-radius: 2px;
	opacity: 0;
	transition: opacity 0.2s;
	transform: translateX(-50%);
}

#how-to-play div:hover span {
	opacity: 1;
	transition: opacity 0.2s;
}

/* setting */
#setting-popup {
	all: initial;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1001;
}

#setting-content {
	all: unset;
	max-height: 80vh;
	max-width: 70vw;
	min-width: 300px;
	text-align: center;
	border-radius: 20px;
	background-color: var(--dialog-bg-color);
	overflow: auto;
	overflow-wrap: break-word;
	scrollbar-width: none;
	font-family: var(--dialog-font);
}

#setting-title {
	all: unset;
	display: block;
	margin: 0px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	color: var(--dialog-title-color);
	text-align: center;
	border-radius: 20px 20px 0px 0px;
	background-color: var(--dialog-main-color);
}

#setting-structure {
	all: unset;
	display: block;
	margin: 10px 0px 0px;
	padding: 5px 30px;
	max-height: calc(80vh - 135px);
	font-size: var(--dialog-font-size);
	overflow: auto;
	scrollbar-color: var(--dialog-main-color) var(--dialog-bg-color);
	color: var(--dialog-text-color);
}

#setting-close-box {
	margin: 10px 10px;
	overflow: auto;
}

#setting-close {
	all: unset;
	display: inline-block;
	white-space: nowrap;
	inline-size: max-content;
	margin: 0px 20px;
	padding: 0px 15px;
	height: 45px;
	min-width: 100px;
	border: none;
	border-radius: 7px;
	font-size: var(--dialog-font-size);
	line-height: 45px;
	color: var(--dialog-title-color);
	background-color: var(--dialog-main-color);
}

/* box */
#boxs {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	max-width: 1000px;
	gap: 1.5%;
	user-select: none;
}

#boxs.display-index .disk {
	font-size: 17px;
	line-height: 20px;
	color: var(--white-color);
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 4px;
	padding: 13px 16px;
	width: 30%;
	background-color: var(--white-color);
	border: 1px solid var(--grey-a-color);
	border-radius: 3px;
	cursor: pointer;
}

.box.selected {
	background-color: var(--grey-green-color);
}

.disk {
	height: 20px;
	background-color: var(--leaf-green-color);
	border-radius: 3px;
}

.disk.even {
	background-color: var(--grey-8-color);
}