@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

:root {
  --char-font: 700 0px "Zen Kaku Gothic New", sans-serif;
}

* {
  box-sizing: border-box;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 100px;
}

#content {
  position: relative;
  width: 100%;
  max-width: 800px;
}

h1 {
  margin: 0px;
  font-size: 30px;
  text-align: center;
}

#hints {
  margin: 0px auto 10px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--grey-5-color);
  border-radius: 5px;
}

.word.hint {
  padding: 2.5px 0px;
}

#add-hint {
  position: relative;
  margin: 10px auto;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: var(--grey-green-color);
}

#add-hint::before,
#add-hint::after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  background-color: var(--grey-5-color);
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

#add-hint::before {
  height: 20px;
  width: 2px;
}

#add-hint::after {
  height: 2px;
  width: 20px;
}

#list-count {
  padding: 3px 0px;
  font-size: 17px;
  text-align: center;
}

#list {
  margin: 0px auto;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--grey-5-color);
  border-radius: 5px;
}

#list-content {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

#list span {
  display: inline-block;
  padding: 0px 7px;
  font-size: 15px;
}

/* input-hint */
#input-hint-wrapper {
  position: fixed;
  display: none;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #0004;
  justify-content: center;
  align-items: center;
}

#input-hint {
  padding: 50px 0px;
  height: 270px;
  width: 450px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
}

#input-text-wrapper {
  position: relative;
}

#input-text {
  margin: 10px 0px;
  height: 25px;
  width: 100px;
  font: var(--char-font);
  font-size: 17px;
  text-align: center;
  background-color: var(--contrast-color);
  border-radius: 3px;
  border: 1px solid var(--grey-8-color);
  outline: none;
}

#input-text-comment {
  display: none;
  position: absolute;
  top: -24px;
  padding: 0px 10px;
  height: 25px;
  font-size: 13px;
  line-height: 25px;
  color: var(--red-color);
  background-color: var(--contrast-color);
  border-radius: 3px;
  border: 1px solid var(--contrast-pink-color);
}

#display-input {
  padding: 10px 0px 20px;
}

#input-cancel,
#input-submit {
  margin: 0px 10px;
  padding: 5px 0px;
  height: 30px;
  width: 120px;
  text-align: center;
  font-size: 17px;
  line-height: 20px;
  border-radius: 5px;
  background-color: var(--grey-green-color);
  user-select: none;
}

/* class */
.center {
  display: flex;
  justify-content: center;
}

.word {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.char {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  font: var(--char-font);
  font-size: 40px;
  line-height: 44px;
  border-radius: 1px;
  color: #fff;
  user-select: none;
}

.char.gray {
  background-color: #787C7E;
}

.char.yellow {
  background-color: #C9B458;
}

.char.green {
  background-color: #6AAA64;
}