* {
	box-sizing: border-box;
}

#main {
	display: flex;
	justify-content: center;
	padding: 30px 30px 100px;
}

#content {
	position: relative;
	width: 100%;
	max-width: 800px;
	font-size: 15px;
	vertical-align: bottom;
}

h1 {
	margin: 0px;
	font-size: 30px;
	text-align: center;
	user-select: none;
}

input {
	margin: 5px 0px;
	height: 30px;
	width: 80px;
}

#compare {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 10px;
	height: 140px;
	width: 100%;
	border: 1px solid var(--grey-5-color);
	border-radius: 6px;
}

#base,
#color {
	height: 100px;
	width: 100px;
}

#slider {
	display: flex;
	gap: 10px;
}
