button {
    font-family: var(--main-font);
    width: 80px;
    height: 80px;
    margin: -0.75px;
    padding: 0px;
    line-height: 80px;
    color: var(--leaf-green-color);
    font-size: 70px;
    text-align: center;
    border-radius: 0px;
    border: 1.5px solid var(--black-color);
    background-color: var(--leaf-green-color);
    user-select: none;
}

.but {
    font-family: var(--main-font);
    width: 150px;
    height: 50px;
    margin: 10px;
    line-height: 0px;
    color: var(--black-color);
    font-size: 30px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--main-light-color);

}

br {
    user-select: none;
}

#main {
    margin: 30px 0px 30px 0px;
    text-align: center;
    white-space: nowrap;
}

#pop {
    display: none;
    position: fixed;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

#poptext {
    width: 400px;
    height: 400px;
    background-color: var(--main-bg-color);
    margin: 0px;
    text-align: center;
    border-radius: 30px;
}

#popmain {
    font-size: 150px;
    margin: 90px 0px 0px 0px;
    line-height: 150px;
    -webkit-text-stroke: var(--black-color) 3px;
}

#mini {
    font-size: 50px;
    margin: 20px 0px 0px 0px;
    line-height: 50px;
}

@media screen and (max-width:480px) {
    #main {
        margin: 40px 0px;
    }

    #poptext {
        width: 50vw;
        height: 50vw;
        border-radius: 4vw;
    }

    #popmain {
        font-size: 21vw;
        margin: 10vw 0px 0px 0px;
        line-height: 21vw;
    }

    #mini {
        font-size: 7vw;
        margin: 2vw 0px 0px 0px;
        line-height: 7vw;
    }
}