@media screen and (min-width:840px) {
	#main {
		margin: 50px;
		text-align: center;
	}

	h1 {
		margin: 30px 0px;
		font-size: 45px;
		line-height: 50px;
	}

	.link {
		margin: 0px;
	}

	.display-box {
		display: inline-block;
		margin: 20px;
		padding: 70px 0px;
		box-sizing: border-box;
		height: 200px;
		width: 330px;
		background-color: var(--grey-c-color);
		border-radius: 30px;
		transition: all 0.2s;
		vertical-align: bottom;
	}

	.title {
		display: inline-block;
		margin: 0px;
		font-size: 30px;
		line-height: 60px;
	}

	.sub-title {
		display: block;
		font-size: 20px;
		line-height: 0px;
	}

	.description {
		display: none;
	}

	.display-box:hover {
		background-color: var(--grey-green-color);
		box-shadow: 5px 5px 5px var(--grey-a-color);
		transition: all 0.2s;
	}

	#topic .display-box {
		padding: 75px 0px;
		width: calc((100% - 220px) / 3);
		max-width: 330px;
	}

	#topuic .title {
		font-size: 40px;
		line-height: 50px;
	}
}

@media screen and (max-width:839px) and (min-width:481px) {
	#main {
		margin: 20px;
	}

	h1 {
		margin: 10px 0px;
		font-size: 30px;
		text-align: center;
	}

	.link {
		display: block;
		margin: 7px 0px 0px;
		align-items: center;
		justify-items: center;
		text-decoration: none;
	}

	.display-box {
		padding: 5px 10px;
		height: 80px;
		width: 480px;
		border: 1px solid var(--grey-a-color);
		box-sizing: border-box;
	}

	.title {
		display: inline-block;
		font-size: 20px;
		vertical-align: baseline;
	}

	.sub-title {
		display: inline-block;
		padding-left: 4px;
		font-size: 15px;
	}

	.description {
		font-size: 11px;
	}
}

@media screen and (max-width:480px) {
	#main {
		margin: 20px;
	}

	h1 {
		margin: 10px 0px 0px;
		font-size: 20px;
		line-height: 30px;
	}

	.link {
		text-decoration: none;
	}

	.display-box {
		position: relative;
	}

	.title {
		margin: 0px 20px;
		font-size: 17px;
		line-height: 28px;
	}

	.sub-title {
		padding-left: 30px;
		display: block;
		font-size: 13px;
	}

	.description {
		display: none;
	}

	.display-box::before {
		content: "";
		position: absolute;
		display: block;
		top: 9px;
		left: 9px;
		height: 5px;
		width: 5px;
		border-radius: 5px;
		background-color: var(--main-color);
	}
}