* {
  outline: none;
  box-sizing: border-box;
  color: var(--main-text-color);
}

#main-content {
  padding: 50px;
  font-size: 14px;
}

#output,
#control,
#input,
#notes {
  padding: 10px;
}

hr {
  margin: 0px;
}

.active {
  background-color: var(--grey-green-color);
}

.textarea {
  padding: 5px 7px;
  width: calc(100% - 40px);
  font-family: var(--code-font);
  resize: vertical;
}

.code-font {
  font-family: var(--code-font);
}

/* output */
#output-result,
#output-memory,
#output-code,
#output-setting {
  padding: 3px 10px;
  min-height: 30px;
}

#run-input {
  margin: 3px 20px;
  height: 60px;
}

/* control */
#runspeed-select {
  width: 80px;
  font-size: 12px;
}

#control-buttons {
  padding-top: 5px;
}

#run {
  background-color: var(--light-green-color);
}

.control-button {
  display: inline-block;
  margin: 0px 3px;
  padding: 5px 10px;
  min-width: 100px;
  text-align: center;
  background-color: var(--grey-green-color);
  border-radius: 5px;
  cursor: pointer;
}

/* input */
#code-input {
  margin: 10px 20px;
  height: 200px;
}

/* notes */