* {
  outline: none;
  box-sizing: border-box;
  color: var(--main-text-color);
}

#main-content {
  padding: 30px 50px;
  font-size: 14px;
}

#output,
#control,
#input,
#notes {
  padding: 10px;
}

hr {
  margin: 0px;
}

.active {
  background-color: var(--grey-green-color);
}

.textarea {
  margin: 3px 20px;
  padding: 5px 7px;
  width: calc(100% - 40px);
  font-family: var(--code-font);
  resize: vertical;
}

/* output */
.output {
  padding: 3px 10px;
  min-height: 30px;
  font-family: var(--code-font);
}

/* control */
#runspeed-select {
  width: 80px;
  font-size: 12px;
}

#control-buttons {
  padding-top: 5px;
}

#run {
  background-color: var(--light-green-color);
}

.control-button {
  display: inline-block;
  margin: 0px 3px;
  padding: 5px 10px;
  min-width: 100px;
  text-align: center;
  background-color: var(--grey-green-color);
  border-radius: 5px;
  cursor: pointer;
}

/* input */
#input-code {
  height: 200px;
}

#input-stdin {
  height: 60px;
}

/* notes */
.table {
  padding: 5px 15px;
  font-family: var(--code-font);
}

.table th {
  font-size: 17px;
  font-weight: 400;
  background-color: var(--grey-e5-color);
}

.table th,
.table td {
  padding: 7px;
  line-height: 15px;
  border: 1px solid var(--grey-5-color);
}