h1 {
	margin: 30px 0px;
	line-height: 50px;
	color: var(--black-color);
	font-size: 45px;
}

h2 {
	margin: 30px;
	line-height: 40px;
	color: var(--black-color);
	font-size: 30px;
}

a {
	margin: 0px 30px;
	line-height: 50px;
	color: var(--main-dark-color);
	text-decoration: none;
	font-size: 20px;
}

a::selection,
a:hover {
	text-decoration: underline .5px;
	text-underline-offset: 3px;
}

code {
	margin: 0px 30px;
	padding: 5px 10px;
	line-height: 50px;
	font-size: 15px;
	background-color: var(--grey-e5-color);
	font-family: var(--code-font);
	border-radius: 5px;
}

p {
	margin: 0px 30px;
	line-height: 50px;
	color: var(--black-color);
	font-size: 20px;

	a {
		margin: 0px;
	}

	code {
		margin: 0px 3px;
	}
}

.pre-box {
	position: relative;
}

.sticky-box {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px 30px 10px 30px;
	padding: 15px;
	height: calc(100% - 30px);
	width: calc(100% - 90px);
	text-align: right;
	pointer-events: none;
	z-index: 10;
}

.copy-btn {
	position: sticky;
	top: 15px;
	padding: 10px;
	width: 90px;
	height: 30px;
	text-align: center;
	font-size: 17px;
	line-height: 0px;
	border-radius: 5px;
	border: 0px;
	color: var(--black-color);
	background-color: var(--grey-e5-color);
	pointer-events: all;
	cursor: pointer;
}

pre {
	position: relative;
	margin: 0px 30px 10px 30px;
	padding: 15px;
	font-family: var(--code-font);
	white-space: pre;
	overflow-x: auto;
	font-size: 15px;
	line-height: 25px;
	border-radius: 5px;
	color: var(--black-color);
	background-color: var(--grey-d-color);

	a {
		font-size: 15px;
		line-height: 25px;
		margin: 0px;
	}
}

ul {
	margin: 10px 30px;
	padding-left: 30px;
	line-height: 30px;
	color: var(--black-color);
	font-size: 20px;

	p {
		margin: 0px 10px;
	}

	a {
		margin: 0px;
	}

	code {
		margin: 0px 3px;
	}
}

.imgbox {
	margin: 20px 30px;
	max-height: 50vh;
	max-width: calc(100% - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	color: var(--black-color);
	font-size: 15px;
	max-height: 50vh;
	max-width: calc(100% - 60px);
}

.border {
	border: 1px var(--black-color) solid;
}

.pixel {
	image-rendering: pixelated;
}

hr {
	margin: 20px;
}

#main {
	margin: 50px;
}

#tag {
	margin: 10px 30px 10px 30px;
	padding: 20px 15px;
	border-radius: 5px;
	white-space: pre-wrap;
	overflow: auto;
	background-color: var(--grey-d-color);

	a {
		line-height: 30px;
		color: var(--black-color);
		font-size: 20px;
	}
}

.nobr {
	white-space: nowrap;
	overflow-x: auto;
}


@media screen and (max-width:480px) {
	h1 {
		margin: 0px;
		line-height: 30px;
		font-size: 30px;
	}

	h2 {
		margin: 15px;
		line-height: 20px;
		font-size: 20px;
	}

	a {
		margin: 0px 20px;
		line-height: 30px;
		font-size: 15px;
	}

	code {
		margin: 0px 20px;
		line-height: 30px;
		font-size: 10px;
	}

	p {
		margin: 0px 20px;
		line-height: 30px;
		font-size: 15px;

		a {
			margin: 0px;
		}

		code {
			margin: 2px;
		}
	}

	button {
		width: 60px;
		height: 20px;
		margin: 0px 20px -15px;
		font-size: 11px;
	}

	pre {
		margin: 0px 20px 10px 20px;
		padding: 10px;
		line-height: 15px;
		font-size: 12px;
	}

	ul {
		padding-left: 25px;
		margin: 5px 20px;
		line-height: 20px;
		font-size: 15px;
	}

	img {
		margin: 10px 20px;
		font-size: 10px;
		max-width: calc(100% - 40px);
	}

	hr {
		margin: 10px;
	}

	#main {
		margin: 30px;
	}

	#tag {
		margin: 10px 20px 10px 20px;
		padding: 10px;

		a {
			margin: 0px 10px;
			line-height: 20px;
			font-size: 15px;
		}
	}
}