body {
	user-select: none;
}

button,
input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

#main {
	margin: 50px;
	text-align: center;
}

#main svg {
	color: var(--white-color);
	stroke-width: 1px;
}

.menu-button {
	margin: 0px 15px;
	height: 60px;
	width: 60px;
	background-color: var(--main-color);
	border: none;
	text-align: center;
	padding: 0px;
	border-radius: 10px;
}

.setting-image {
	height: 50px;
	margin: 5px 0px;
}

.menu {
	display: none;
	margin: 50px calc(50vw - 450px);
	padding: 30px 50px;
	max-height: 350px;
	width: 700px;
	border-radius: 30px;
	background-color: var(--grey-d-color);
	font-size: 25px;
	line-height: 40px;
	text-align: left;
}

.menu input[type=checkbox] {
	margin: 0px 10px;
	box-sizing: border-box;
	border: 1px solid var(--black-color);
	border-radius: 3px;
	height: 30px;
	width: 30px;
	background-color: var(--white-color);
	display: inline-block;
	vertical-align: -7px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.menu input[type=checkbox]:checked:before {
	position: absolute;
	top: 2px;
	left: 9.5px;
	transform: rotate(50deg);
	width: 8px;
	height: 16px;
	border-right: 2px solid var(--black-color);
	border-bottom: 2px solid var(--black-color);
	content: '';
}

.menu input[type=number] {
	margin: 0px 10px;
	height: 30px;
	width: 100px;
	border: 1px solid var(--black-color);
	background-color: var(--white-color);
	border-radius: 3px;
	font-size: 20px;
	text-align: center;
	vertical-align: 1px;
}

.menu input[type=number]:disabled {
	border: 1px solid var(--grey-d-color);
}

.menu input[type=number]:invalid {
	border: 1px solid var(--red-color);
}

.menu button {
	margin: 30px 250px 0px;
	height: 50px;
	width: 200px;
	background-color: var(--main-color);
	color: var(--white-color);
	border: none;
	border-radius: 10px;
}

#list-null {
	font-size: 20px;
	text-align: center;
	display: none;
}

#list-null:only-child {
	display: block;
}

#work-space {
	display: none;
}

#work-buttons {
	position: absolute;
	height: calc(100vh - 100px);
	width: 60px;
	left: 15px;
}

#popup-close,
#popup-open {
	width: 50px;
}

.work-button {
	margin: 15px 0px;
	height: 60px;
	width: 60px;
	background-color: var(--main-color);
	border: none;
	text-align: center;
	padding: 0px;
	border-radius: 10px;
}

#create-space {
	position: relative;
	margin: 50px 0px 0px 40px;
	height: calc(100vh - 100px);
	width: calc(100vw - 140px);
	background-color: var(--contrast-color);
	border: 1px solid var(--black-color);
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#create-space #pan-and-zoom {
	position: relative;
	cursor: default;
	padding: 15px;
}

#create-space #big-box {
	border: .5px solid var(--black-color);
	white-space: nowrap;
}

#create-space .box {
	height: 30px;
	width: 30px;
	border: .5px solid var(--black-color);
	display: inline-block;
	position: relative;
}

#create-space .box.b::before,
#create-space .box.f::before {
	position: absolute;
	top: 0;
	transform-origin: top left;
	width: 1px;
	height: 43px;
	background-color: var(--black-color);
	content: '';
}

#create-space .box.b::before {
	left: 0;
	transform: rotate(-45deg) translateX(-.5px);
}

#create-space .box.f::before {
	right: 0;
	transform: rotate(45deg) translateY(-1px) translateX(.5px);
}

#create-space .box.green::before {
	background-color: var(--main-dark-color);
}

#create-space .box.red::before {
	background-color: var(--red-color);
}

#create-space #big-maru {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

#create-space #big-maru:not(.play-mode) .maru:hover {
	opacity: 0.3;
}

#create-space #big-maru:not(.play-mode) .maru.disp {
	opacity: 0.9999999;
}

#create-space .maru {
	display: inline-block;
	visibility: visible;
	opacity: 0;
	margin: 5px;
	height: 20px;
	width: 20px;
	border: .5px solid var(--black-color);
	border-radius: 20px;
	background-color: var(--contrast-color);
	color: var(--black-color);
	font-size: 17px;
	line-height: 20px;
	vertical-align: middle;
}

#create-space .maru.disp {
	opacity: 0.9999999;
}

#create-space .maru.gray {
	background-color: var(--grey-c-color);
}

#create-space .maru.red {
	color: var(--red-color);
	background-color: var(--contrast-pink-color);
}

#save-button,
#list-button,
#auto-save {
	display: none;
}