:root {
	--structure-title: var(--grey-e5-color);
	--structure-title-text: var(--black-color);
	--structure-border: var(--grey-a-color);
	--structure-input: var(--light-side-color);
	--structure-input-text: var(--black-color);
	--structure-input-true: var(--grey-e5-color);
	--structure-add: var(--black-color);
	--structure-nest-border: var(--grey-a-color);
	--structure-invalid: var(--red-color);
	--structure-border-radius: 3px;
	--structure-font: var(--main-font);
	--structure-font-size: 14px;
	--structure-nest-size: 20px;
}

* {
	box-sizing: border-box;
}

#main {
	position: relative;
	width: 800px;
	margin: 30px auto;
}

.split {
	margin: 10px 0px;
}

.title {
	margin: 10px 0px 0px;
	font-size: 30px;
	text-align: center;
}

.sub-title {
	margin: 0px;
	margin-left: 10px;
	font-size: 22px;
	line-height: 38px;
}

.text {
	margin: 0px;
	margin-left: 30px;
	font-size: 17px;
	line-height: 30px;
}

.link {
	text-decoration: underline .5px;
	text-underline-offset: 3px;
	color: var(--main-dark-color);
}

.list {
	margin: 0px;
	padding-left: 50px;
	font-size: 17px;
	line-height: 30px;
}

.list .list {
	padding-left: 20px;
}

/* input-json */
#input-json-label {
	display: block;
}

#input-json-file-name {
	display: inline-block;
	margin-left: 10px;
	font-size: 16px;
	line-height: 24px;
}

/* input-format */
#execute {
	display: block;
	text-align: center;
	margin: 0px 50px;
	width: 700px;
	font-size: 15px;
	line-height: 30px;
}

/* output */
#output-field {
	margin: 10px 0px;
	height: 100px;
	min-height: 100px;
	width: 100%;
	overflow: auto;
}

/* log */
.result-empty:empty::before {
	content: "-";
}

#log-field {
	min-height: 100px;
	overflow: auto;
	max-height: 300px;
}

/* class */
.button {
	background-color: var(--grey-e5-color);
	border-radius: 3px;
	border: 1px solid var(--grey-5-color);
}

.textarea {
	padding: 3px 5px;
	color: var(--black-color);
	font-size: 13px;
	font-family: var(--code-font);
	white-space: pre;
	background-color: var(--light-side-color);
	border-radius: 3px;
	border: 1px solid var(--grey-a-color);
	tab-size: 2;
	resize: vertical;
}

/* input */
.text-input {
	margin: 10px 0px;
	height: 100px;
	min-height: 100px;
	width: 100%;
	resize: vertical;
	outline: none;
}

#input-json-file-button,
#input-format-text-file-button {
	display: inline-block;
	padding: 0px 6px;
	font-size: 14px;
	line-height: 24px;
}

#input-json-file,
#input-format-text-file {
	display: none;
}