:root {
	--main-margin: 50px;
	--h1-margin: 20px 0px;
	--title-block-margin: 10px;
	--title-width: min(calc(100vw - var(--main-margin)*2 - var(--title-block-margin)*2), 500px);
}

#main {
	position: relative;
	margin: var(--main-margin);
	text-align: center;
}

#generate-box {
	justify-items: center;
}

/* title */
#main-title {
	margin: var(--h1-margin);
	line-height: 50px;
	color: var(--black-color);
	font-size: 45px;
}

/* back button */
#back {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	font-size: 20px;
	cursor: pointer;
}

#back-text {
	display: inline;
	opacity: 0;
	transition: all 0.2s;
}

#back:hover>#back-text {
	opacity: 1;
	transition: all 0.2s;
}

/* title */
.title-block {
	margin: var(--title-block-margin);
	background-color: var(--grey-d-color);
	padding: 0px;
	display: block;
	position: relative;
	line-height: 50px;
	height: 50px;
	width: var(--title-width);
	border-radius: 10px;
	font-size: 30px;
	cursor: pointer;
}

#add-button {
	background-color: var(--grey-green-color);
}

#add-button::before {
	content: "追加";
}

.title-move {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	font-size: 30px;
	opacity: 0;
	transition: all 0.2s;
	cursor: grab;
}

#generate-box:has(.dragging)>.dragging>.title-move,
#generate-box:not(:has(.dragging))>.title-block:hover>.title-move {
	opacity: 0.3;
	transition: all 0.2s;
}

.title-move::before {
	content: "\21C5";
}

.dragging {
	opacity: 0.5;
}

.dots {
	margin: -50px 0px 0px calc(var(--title-width) - 50px);
	right: 0px;
	width: 50px;
	font-size: 30px;
}

.dots::before {
	content: "…";
}

/* dots manu */
#dots-menu {
	position: absolute;
	top: 0px;
	right: -150px;
	width: 130px;
	background-color: var(--white-color);
	border: 1px solid var(--grey-d-color);
	border-radius: 10px;
	color: var(--black-color);
	font-size: 16px;
	line-height: 25px;
	overflow: hidden;
}

#dots-menu hr {
	margin: 2px 10px;
}

#words-list::before {
	content: "一覧を表示";
}

#title-edit::before {
	content: "名前の変更";
}

#words-edit::before {
	content: "編集";
}

#title-remove::before {
	content: "削除";
	color: var(--red-color);
}

/* words list */
#words-list-table {
	display: block;
	width: 100%;
	font-size: 20px;
	border-collapse: collapse;
	overflow-x: scroll;
	scrollbar-width: thin;
	border: 1px solid var(--black-color);
	box-sizing: content-box;
	scrollbar-color: var(--leaf-green-color) var(--main-bg-color);
}

#words-list-table tr {
	border-bottom: 1px solid var(--black-color);
	box-sizing: border-box;
}

#words-list-table th {
	box-sizing: border-box;
}

#words-list-table td {
	box-sizing: border-box;
}

#words-list-table .no {
	margin: 0px 10px;
	min-width: 50px;
}

#words-list-table .word {
	margin: 0px;
	min-width: 200px;
	border-left: 1px solid var(--black-color);
	border-right: 1px solid var(--black-color);
}

#words-list-table .description {
	margin: 0px;
	padding-left: 10px;
	min-width: calc(100vw - var(--main-margin)*2 - 250px);
	text-align: left;
}

/* words edit */
#words-edit-field {
	width: 100%;
	font-size: 20px;
	border: 1px solid var(--black-color);
	justify-items: left;
}

#words-edit-field .input {
	padding: 0px;
	font-size: 20px;
	border: none;
	background-color: var(--main-bg-color);
	outline: none;
}

#words-edit-field .line.title {
	font-weight: bold;
}

#words-edit-field .line {
	display: block;
}

#words-edit-field .no,
#words-edit-field .word,
#words-edit-field .description {
	display: inline-block;
}

#words-edit-field .no {
	width: 70px;
	user-select: none;
}

#words-edit-field .word {
	margin: 0px;
	width: 200px;
	box-sizing: border-box;
	border-left: 1px solid var(--black-color);
	border-right: 1px solid var(--black-color);
}

#words-edit-field .word .input {
	width: 180px;
	box-sizing: border-box;
}

#words-edit-field .description {
	margin: 0px;
	padding-left: 10px;
	width: calc(100vw - var(--main-margin)*2 - 300px);
	text-align: left;
}

#words-edit-field .description .input {
	min-width: calc(100vw - var(--main-margin)*2 - 300px);
}

.word-add {
	left: -30px;
	width: 30px;
}

.word-add svg {
	width: 20px;
}

.word-remove {
	width: 25px;
}

.word-add,
.word-remove {
	position: absolute;
	height: 32px;
	display: none;
}

.line:hover .word-add,
.line:hover .word-remove {
	display: block;
}

#add-new-word {
	margin: 10px 0px;
	height: 40px;
	width: 200px;
	border: none;
	border-radius: 10px;
	background-color: var(--main-color);
	color: var(--white-color);
}

#add-new-word svg {
	color: var(--white-color);
	height: 100%;
}

#words-edit-field .line.title .no::before {
	content: "No.";
}

#words-edit-field .line.title .word::before {
	content: "単語";
}

#words-edit-field .line.title .description::before {
	content: "説明";
}

/* card */
#card {
	position: relative;
	display: flex;
	height: 200px;
	width: 500px;
	/* justify-content: center; */
	align-items: center;
	border-radius: 10px;
	border: 1px solid var(--black-color);
	font-size: 30px;
	background-color: var(--white-color);
	user-select: none;
}

#card>#front-word {
	position: absolute;
	top: 0px;
	width: 500px;
	font-size: 20px;
	color: var(--grey-5-color);
	/* transform: translateY(-70px); */
}

#card>#front-word,
#card>#card-main-text {
	width: 500px;
	/* word-break:break-all; */
	overflow-wrap: break-word;
}