#main {
    margin: 50px;
}
#in {
    width: 100%;
    height: calc(100vh - min(90px, 15vw) - 102px);
    padding: 0px;
    margin: 0px;
    border: 1px solid #000;
    border-radius: 0px;
    resize: none;
    background-color: #fdfcf8;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
#in::selection {
    background-color: #afd8af;
    color: #000;
}
:focus {
    outline: none;
}
@media screen and (max-width:480px) {
    #main {
        margin: 20px;
    }
    #in {
        height: calc(100vh - min(90px, 15vw) - 42px);
    }
}
