@keyframes button-on {
	0% {
		color: var(--main-bg-color);
	}

	100% {
		color: var(--black-color);
	}
}

@keyframes pop-on {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#main {
	margin: 70px 0px 50px 0px;
	text-align: center;
}

button {
	font-family: var(--main-font);
	width: 100px;
	height: 100px;
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	color: var(--main-bg-color);
	font-size: 80px;
	text-align: center;
	border: 1px solid var(--black-color);
	background-color: var(--main-bg-color);
	user-select: none;
}

.button-display {
	animation: .2s button-on;
	animation-fill-mode: forwards;
}

#reset {
	margin-top: 40px;
	width: 200px;
	height: auto;
	color: var(--black-color);
	font-size: 30px;
	line-height: 20px;
	background-color: var(--main-light-color);
	border: 0px;
	border-radius: 10px;
	padding: 25px 0px;
}

#pop {
	display: none;
	position: fixed;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 1001;
}

.pop-display {
	animation: .5s pop-on;
}

#poptext {
	width: 400px;
	height: 400px;
	background-color: var(--main-bg-color);
	margin: 0px;
	text-align: center;
	border-radius: 30px;
}

p {
	font-size: 50px;
	color: var(--main-dark-color);
	margin: 20px 0px 0px 0px;
	line-height: 50px;
}

#winner {
	font-size: 150px;
	margin: 90px 0px 0px 0px;
	line-height: 150px;
}

@media screen and (max-width:480px) {
	button {
		width: 30vw;
		height: 30vw;
		padding: calc(6vw + 1px) 0px;
		font-size: 24vw;
	}

	#main {
		margin: 40px 0px;
	}

	#reset {
		margin: 40px 10px 10px 10px;
		max-width: 200px;
	}

	#poptext {
		width: 50vw;
		height: 50vw;
		border-radius: 4vw;
	}

	p {
		font-size: 7vw;
		margin: 2vw 0px 0px 0px;
		line-height: 7vw;
	}

	#winner {
		font-size: 21vw;
		margin: 10vw 0px 0px 0px;
		line-height: 21vw;
	}
}